@import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";

/* ELEMENTS */

* {
  box-sizing: border-box;
}

html {
  color: #646464;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
}

body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  height: 100%;
}

p {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: 15rem;
}

/* LAYOUT */

.wrapper {
  width: 480px;
}

/* CONTENT AREA */

header {
  margin-bottom: 0.5rem;
}

.content {
  color: #646464;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin-top: 36px;
  width: 100%;
}

.topicselector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.topicselector:after {
  content: "\f078";
  font: normal normal normal 1.063rem/1 FontAwesome;
  color: #1098c8;
  right: 32%;
  padding: 0.8rem 0 0 0.5rem;
  border-left: 1px solid #0ebeff;
  pointer-events: none;
  max-width: 200px;
}

.topicselector select {
  -webkit-appearance: none;
  padding: 1.25rem 4rem 1.25rem 4rem;
  border: 3px solid #0ebeff;
  max-width: 300px;
}

label {
  font-weight: 500;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.credit {
  margin-top: 0px;
  text-align: center;
}

/* --------------------BREAKPOINT-------------------- */

@media all and (min-width: 600px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .actions li {
    display: inline-block;
    margin-bottom: 18px;
  }

  img {
    height: 22rem;
  }
}

@media all and (min-width: 900px) {
  /* ELEMENTS */

  * {
    box-sizing: border-box;
  }

  html {
    color: #646464;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 18px;
  }

  body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    line-height: 1.5;
  }

  h1 {
    font-size: 54px;
    font-weight: bold;
  }

  p {
    margin-bottom: 18px;
  }

  a {
    color: #1098c8;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* LAYOUT */

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 720px;
  }

  /* CONTENT AREA */

  .content {
    color: #646464;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    margin-top: 36px;
    width: 100%;
  }

  .content h1 a {
    color: #646464;
    text-decoration: none;
  }

  .banner-text {
    flex: 0 1 370px;
    font-size: 24px;
    margin-right: 80px;
    order: 1;
    padding-top: 150px;
    text-align: right;
  }

  .banner-image {
    flex: 0 1 250px;
    order: 2;
  }

  .actions li {
    display: inline-block;
    margin-bottom: 18px;
  }

  .cta {
    background-color: #f4f4f4;
    border: 3px solid #646464;
    border-radius: 10px;
    color: #646464;
    cursor: pointer;
    font-size: 15px;
    padding: 9px 27px;
    text-decoration: none;
  }

  .cta.special {
    background-color: #1098c8;
    border-color: #1098c8;
    color: #fff;
  }

  .cta i {
    margin-right: 9px;
  }

  .credit {
    margin-top: 18px;
    text-align: center;
  }
}
