/* ELEMENTS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans Light";
  font-size: 18px;
}

body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  height: 100%;
}

img {
  max-width: 100%;
  height: 15rem;
}

/* LAYOUT */

.wrapper {
  width: 480px;

  //   @include tablet-query {
  //     width: 100%;
  //   }
}

/* CONTENT AREA */

header {
  margin-bottom: 0.5rem;
}

// .logoAndSelector {
//   @include tablet-query {
//     display: flex;
//     flex-direction: row;
//     margin: 1rem 0;
//   }
// }

.content {
  color: #646464;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin-top: 36px;
  width: 100%;
}

.topicselector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  select {
    -webkit-appearance: none;
    padding: 1.25rem 4rem 1.25rem 4rem;
    border: 3px solid #0ebeff;
    max-width: 300px;
  }
}

label {
  font-weight: 500;
  margin-bottom: 1rem;
}

.stories {
  div {
    display: flex;
    align-items: flex-end;
    background: no-repeat center/auto 100%;
    padding: 20rem 0 0 0;

    // @include tablet-query {
    //   width: 33.33%;
    // }

    a {
      text-decoration: none;
      color: #ffffff;
      background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.9));
      display: flex;
      align-items: flex-end;
      padding: 1rem 0;
      opacity: 0;
      transition: all 0.5s ease-in;

      &:visited {
        color: #ffffff;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.loadingAnimation {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #c2c2c2;
}

.credit {
  margin-top: 0px;
  text-align: center;
}

.instanewsCopy {
  text-transform: uppercase;
}
