/* ELEMENTS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #646464;
  font-family: "Open Sans Light";
  font-size: 18px;
}

body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  height: 100%;
}

img {
  max-width: 100%;
  height: 15rem;
}

/* LAYOUT */

.wrapper {
  width: 480px;
}

/* CONTENT AREA */

header {
  margin-bottom: 0.5rem;
}

.content {
  color: #646464;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin-top: 36px;
  width: 100%;
}

.topicselector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  select {
    -webkit-appearance: none;
    padding: 1.25rem 4rem 1.25rem 4rem;
    border: 3px solid #0ebeff;
    max-width: 300px;
  }
}

.topicselector:after {
  content: "\f078";
  font: normal normal normal 1.063rem/1 FontAwesome;
  color: #1098c8;
  height: 2rem;
  padding: 0.8rem 0 0 0.5rem;
  border-left: 1px solid #0ebeff;
  pointer-events: none;
  position: absolute;
  top: 21rem;
  right: 6.75rem;
}

label {
  font-weight: 500;
  margin-bottom: 1rem;
}

.stories {
  div {
    display: flex;
    align-items: flex-end;
    background: no-repeat center/auto 100%;
    padding: 20rem 0 0 0;

    a {
      text-decoration: none;
      color: #ffffff;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
      display: flex;
      align-items: flex-end;
      padding: 1rem 0;
      opacity: 0;
      transition: all 1s ease-in;

      &:visited {
        color: #ffffff;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.loadingAnimation {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #c2c2c2;
}

.credit {
  margin-top: 0px;
  text-align: center;
}
